<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Contoso" value="https://contoso.com/nuget" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="Contoso.*" />
			<package pattern="AnotherCompany.*" />
			<package pattern="System.Text.Encodings.Web" />
			<package pattern="System.Text.Json" />
		</packageSource>
		<packageSource key="Contoso">
			<package pattern="Contoso.Private.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>

